.footer {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
}

.footer p {
  margin: 0%;
  color: black;
  font-size: 20px;
  align-self: center;
  text-align: center;
  width: 100%;
}

.footer a {
  color: black;
  font-size: 20px;
}

.footer a:hover {
  color: yellow;
}