.section {
  padding: 20px;
  margin-bottom: 15px;
}

.section h2 {
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, black, #c0c0c0);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 0;
  width: 85%;
}

.section h3 {
  font-size: 24px;
  margin-left: 2%;
  width: fit-content;
}

.section p {
  font-size: 20px;
  margin: 0px;
  margin-left: 2%;
  margin-top: 5px;
  padding: 0px;
}

.section img {
  margin-left: 2%;
  width: 45%;
}

.section #imgMyself {
  width: 25%
}